<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
  <!--<![endif]-->
  <head>
    <meta charset="{{ site.charset }}"/>

    <title>
      {% if wp_title %}
        {{ wp_title ~ ' | ' ~ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    {% include "core/metadata.html.twig" %}

    {{ function('wp_head') }}

    {% block head %}{% endblock %}
  </head>

  <body class="{{ body_class|join(' ') }}">
    {% block header %}
      {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block payoff %}
      <div class="payoff-wrapper pointer-events-none fixed w-full header-offset z-30"></div>
    {% endblock %}

    <div class="main-wrapper z-10" data-barba="wrapper">
      {% set namespace = post.post_name %}
      {% if post.post_type == 'project' %}     
        {% set namespace = 'project' %}
      {% endif %}

      {% set color = post.meta('text_color') %}
      {# {% if post.post_type == 'project' %}     
        {% set namespace = 'project' %}
      {% endif %} #}
      
      <main class="main {{ main_class|join(' ') }}" data-barba="container" data-barba-namespace="{{ namespace }}" data-text-color="{{ color }}">
        {% block main %}{% endblock %}

        {% block scripts %}{% endblock %}
      </main>
    </div>

    {{ function('wp_footer') }}
  </body>
</html>