{% extends "core/base.html.twig" %}

{% set color = post.meta('text_color') %}

{% block main %}

  <div class="payoff-placeholder">
    {% include "components/payoff.html.twig" with {
      text : post.meta("header")
    } %}
  </div>

  <div class="relative min-h-screen w-full">

    <div class="image-swapper-wrapper absolute inset-0">
      <div id="swapper-0"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0000.jpg)"></div>
      <div id="swapper-1"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0001.jpg)"></div>
      <div id="swapper-2"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0002.jpg)"></div>
      <div id="swapper-3"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0003.jpg)"></div>
      <div id="swapper-4"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0004.jpg)"></div>
      <div id="swapper-5"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0005.jpg)"></div>
      <div id="swapper-6"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0006.jpg)"></div>
      <div id="swapper-7"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0007.jpg)"></div>
      <div id="swapper-8"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0008.jpg)"></div>
      <div id="swapper-9"  class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0009.jpg)"></div>
      <div id="swapper-10" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0010.jpg)"></div>
      <div id="swapper-11" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0011.jpg)"></div>
      <div id="swapper-12" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0012.jpg)"></div>
      <div id="swapper-13" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0013.jpg)"></div>
      <div id="swapper-14" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0014.jpg)"></div>
      <div id="swapper-15" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0015.jpg)"></div>
      <div id="swapper-16" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0016.jpg)"></div>
      <div id="swapper-17" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0017.jpg)"></div>
      <div id="swapper-18" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0018.jpg)"></div>
      <div id="swapper-19" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0019.jpg)"></div>
      <div id="swapper-20" class="image-swapper absolute inset-0" style="background-image: url({{ theme.link }}/images/globe/IRE_web_3D_V01_0020.jpg)"></div>
    </div>

    <div class="absolute w-full bottom-0">
      {% include "layout/footer.html.twig" %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ theme.link }}/js/landing.js"></script>
{% endblock %}