{% extends "core/base.html.twig" %}

{% set main_class = ['bg-gray', 'min-h-screen'] %}

{% block main %}

  <section class="section fixed w-full header-offset z-20">
    <div class="container">
      <div class="row">
        <div class="col w-6/12 mx-auto text-center text-xl">
          {{ post.meta('header') }}
        </div>
      </div>
    </div>
  </section>

  <div class="header-offset-extra-spacer"></div>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col w-4/12 ml-2/12">
          {% include "components/image.html.twig" with {
              image: post.meta('portraits').portrait_first,
              image_class:  ['regular', 'ml-auto', 'mr-0'],
              size: 'portrait-25vw'
            } %}
        </div>
        <div class="col w-4/12 mr-2/12">
          {% include "components/image.html.twig" with {
              image: post.meta('portraits').portrait_second,
              image_class:  ['regular', 'ml-0', 'mr-auto'],
              size: 'portrait-25vw'
            } %}
        </div>
      </div>
    </div>
  </section>

  <section class="section text-3xl">
    <div class="container">
      <div class="row mb-24">
        <div class="col">
          <p>
            {{ post.meta('bio') }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section text-xl">
    <div class="container">
      <div class="row">

        <div class="col w-4/12">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="bio">
            <button class="expander-button text-xl my-2">Bio</button>
            <button class="expander-button text-xl my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="bio" class="expander">
            <div class="expander-content">
              {{ post.meta('expanders').bio }}
            </div>
          </div>
        </div>

        <div class="col w-4/12">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="services">
            <button class="text-xl my-2">Services</button>
            <button class="expander-button text-xl my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="services" class="expander">
            <div class="expander-content">
              {{ post.meta('expanders').services }}
            </div>
          </div>
        </div>

        <div class="col w-4/12">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="contact">
            <button class="text-xl my-2">Contact</button>
            <button class="expander-button text-xl my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="contact" class="expander">
            <div class="expander-content">
              {{ post.meta('expanders').contact }}

              {% include "components/contact.html.twig" %}
              
              <div>
                <a href="#" class="text-blue">Instagram</a>,
                <a href="#" class="text-blue">LinkedIn</a>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="row mt-20">

        <div class="col w-8/12">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="list-of-activities">
            <button class="text-xl my-2">List of Activities</button>
            <button class="expander-button text-xl my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="list-of-activities" class="expander">
            <div class="expander-content">
              <div class="row">

                {% for item in post.meta("expanders").list_of_activities %}
                  <div class="col w-1/2 mb-6">
                    <p>{{ item.date }}</p>
                    <p>{{ item.category }}</p>
                    {{ item.description }}
                  </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>

        <div class="col w-4/12">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="colophon">
            <button class="text-xl my-2">Colophon</button>
            <button class="expander-button text-xl my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="colophon" class="expander">
            <div class="expander-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti reprehenderit voluptatum excepturi quo architecto eos ducimus quidem, ex vero modi maiores, nulla soluta eum ipsam voluptatem mollitia possimus repudiandae voluptates.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  {% include "layout/footer.html.twig" %}

{% endblock %}