{% extends "core/base.html.twig" %}

{% set main_class = ['bg-white', 'min-h-screen'] %}

{% block main %}

  <div class="payoff-placeholder">
    {% include "components/payoff.html.twig" with {
      text : post.meta("header")
    } %}
  </div>

  <div class="info-wrapper">

    <div class="header-offset-extra-spacer"></div>

    <section class="section mb-16 lg:mb-0">
      <div class="container">
        <div class="row">
          <div class="col w-full mr-0 lg:w-5/12 lg:mr-1/12 text-mxl md:text-2xl xl:text-3xl">
            <p class="mb-12 md:mb-16">
              {{ post.meta('bio') }}
            </p>
          </div>
          <div class="col w-full md:w-6/12 lg:w-3/12 text-lg md:text-xl xl:text-2xl">
            <p class="mb-4 md:mb-6">
              Exhibitions
            </p>
            {% for item in post.meta("exhibitions")%}
              <div>
                {{ item.description }}
              </div>
            {% endfor %}
            <p class="mt-8 mb-4 md:mt-10 md:mb-5">
              Talks
            </p>
            {% for item in post.meta("talks")%}
              <div>
                {{ item.description }}
              </div>
            {% endfor %}
          </div>
          <div class="col w-full md:w-6/12 lg:w-3/12 text-lg md:text-xl xl:text-2xl">
            <p class="mt-8 md:mt-0 mb-4 md:mb-6">
              Contact
            </p>
            {% include "components/contact.html.twig" %}
            <div>
              <a class="underline-out" href="{{ contact_widget.instagram }}">Instagram</a>,
              <a class="underline-out" href="{{ contact_widget.linkedIn }}">LinkedIn</a>
            </div>
            <p class="mt-8 mb-4 md:mt-10 md:mb-5">
              Services
            </p>
            <div>
              {% for item in post.meta("services")%}
                <div>
                  {{ item.service }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-info">
      <div class="container">

        <div class="flex justify-center">
          <div class="text-center text-lg md:text-xl xl:text-2xl">
            <div>Website coded by
              <a class="underline-in italic" href="https://fffunction.studio" target="_blank">fffunction.studio</a>
            </div>
            <div>3D visuals by
              <a class="underline-in italic" href="https://postnew.xyz" target="_blank">Post New</a>
            </div>
            <div>Copyright
              {{ "now"|date("Y") }}
              &copy; Irene Stracuzzi</div>
          </div>
        </div>

      </div>
    </footer>

  </div>

{% endblock %}