{% extends "core/base.html.twig" %}

{% set min_class = ['min-h-screen'] %}

{% block main %}

  <section class="section fixed w-full header-offset-desktop z-40">
    <div class="container">

      {% set cart = "[wp_compact_cart]" %}

      {{ cart|shortcodes }}

    </div>
  </section>

  <div class="header-offset-extra-spacer hidden lg:block"></div>
  <div class="header-offset lg:hidden"></div>

  {% for item in products %}

    {% set product = "[wp_cart_button name='" ~ item.title ~ "' price='" ~ item.meta("cost") ~ "']" %}

    <section class="section {% if loop.index0 != 0 %}mover{% endif %} slider">
      <div class="container">
        <div class="row justify-center lg:hidden text-lg md:text-xl">
          <div class="col w-full flex flex-col items-center">
            <h2 class="italic">{{ item.title }}</h2>
            <p class="text-center">
              {{ item.meta('product_details') }}
            </p>
          </div>

          <div class="col w-full flex justify-center my-4">
            <div>
              &euro;
              {{ item.meta('cost')|currency }}
            </div>
            <div class="ml-4">
              {{ product|shortcodes }}
            </div>
          </div>
        </div>

        {% include "components/product-slider.html.twig" with {
          slides: item.meta('slider')
        } %}

        <div class="row justify-center pt-2 lg:text-xl xl:text-2xl" style="background: white;margin-top: -2px;position: relative;z-index: +1;">
          <div class="col w-full text-center lg:w-2/12 lg:text-left">
            <div class="slider-counter">
              <span class="slider-index"></span>
              /
              <span class="slider-total">{{ item.meta('slider')|length }}</span>
            </div>
          </div>
          <div class="col w-4/12 hidden lg:flex flex-col items-center">
            <h2 class="italic">{{ item.title }}</h2>
            <p class="text-center">
              {{ item.meta('product_details') }}
            </p>
          </div>
          <div class="col w-2/12 hidden lg:flex justify-end">
            <div>
              &euro;
              {{ item.meta('cost')|currency }}
            </div>
            <div class="ml-4">
              {{ product|shortcodes }}
            </div>
          </div>
        </div>

        <div class="row justify-center mt-4 lg:mt-12 mb-12 lg:mb-32">
          <div class="col w-full lg:w-6/12">
            <p class="text-sm md:text-base xl:text-xl leading-normal xl:leading-tight">
              {{ item.meta('description') }}
            </p>
          </div>
        </div>

      </div>
    </section>

  {% endfor %}

  <section class="section">
    <div class="container">

      <div class="row mb-12 lg:mb-24">

        <div class="col w-full">
          <div class="expander-activator border-t border-black flex justify-between" data-expander-once="false" data-expander-scroll="false" data-expander-target="terms-conditions">
            <button class="underline-in expander-button my-2 text-lg md:text-xl xl:text-2xl">Terms &amp; Conditions</button>
            <button class="expander-button my-2">
              <img class="expander-arrow" src="{{ theme.link }}/images/arrow-down.svg" alt="">
            </button>
          </div>
          <div id="terms-conditions" class="expander">
            <div class="expander-content">
              <p class="text-lg md:text-xl xl:text-2xl">
                {{ post.meta('terms_conditions') }}
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  {% include "layout/footer.html.twig" %}

{% endblock %}

{% block scripts %}
<script>
  console.log('loaded shop');
</script>
{% endblock %}