{% extends "core/base.html.twig" %}

{% block main %}

  {% include "components/back-arrow.html.twig" with {
    link: site.link ~ '/work'
  } %}

  <div class="hidden md:block relative min-h-screen slider">
    <section class="section header-offset">
      <div class="container">

        {% include "components/slider.html.twig" with {
          slides : post.meta("slider")
        } %}

      </div>
    </section>

    <section class="section fixed bottom-0 w-full text-xl z-20 pointer-events-none">
      <div class="container">
        <div class="row">
          <div class="col w-1/12">
            <div class="slider-counter">
              <span class="slider-index"></span>
              /
              <span class="slider-total">{{ post.meta('slider')|length}}</span>
            </div>
          </div>
          <div class="col w-2/12">
            <button class=" pointer-events-auto slider-previous">Previous</button>,
            <button class=" pointer-events-auto slider-next">Next</button>
          </div>
          <div class="col w-6/12 mr-3/12 flex justify-center">
            <p class="italic">{{ post.title }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section absolute bottom-0 w-full text-xl z-10 pointer-events-none">
      <div class="container">
        <div class="row">
          <div class="col ml-9/12 w-3/12 flex justify-end">
            <button class="expander-activator hide-on-active pointer-events-auto" data-expander-instant="true" data-expander-once="true" data-expander-scroll="true" data-expander-target="description">Read More</button>
          </div>
        </div>
      </div>
    </section>

    <div id="description" class="expander">
      <div class="expander-content read-more">
        <section class="section header-offset">
          <div class="container">
            <div class="row">
              <div class="col w-4/12 ml-8/12">
                <div class="description mb-12 text-xl">
                  {{ post.meta('description') }}
                </div>
                <div class="details ml-8 mb-24">
                  {{ post.meta('details') }}
                </div>
                <div class="pt-8 text-xl text-right">
                  <a href="#">View slides</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="md:hidden">
    <section class="section header-offset">
      <div class="container">
        <div class="row">
          <div class="col w-full italic text-lg text-center">
            {{ post.title }}
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">

        {% for slide in post.meta("slider") %}

          {% if slide.acf_fc_layout == "landscape" %}

            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image,
                  size: "landscape-100vw"
                } %}
              </div>
            </div>

          {% elseif slide.acf_fc_layout == 'double_landscape' %}

            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image_first,
                  size: "landscape-100vw"
                } %}
              </div>
            </div>
            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image_second,
                  size: "landscape-50vw"
                } %}
              </div>
            </div>

          {% elseif slide.acf_fc_layout == 'portrait' %}

            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image,
                  size: "portrait-50vw"
                } %}
              </div>
            </div>

          {% elseif slide.acf_fc_layout == 'double_portrait' %}

            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image_first,
                  size: "portrait-50vw"
                } %}
              </div>
            </div>
            <div class="row mb-6">
              <div class="col w-full">
                {% include "components/figure.html.twig" with {
                  image_class : "relative",
                  image: slide.image_second,
                  size: "portrait-50vw"
                } %}
              </div>
            </div>

          {% endif %}

        {% endfor %}

      </div>
    </section>

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col w-full">
            <div class="description mb-8 text-lg">
              {{ post.meta('description') }}
            </div>
            <div class="details ml-8 mb-12 text-sm">
              {{ post.meta('details') }}
            </div>
            <div class="pt-8 text-lg text-center">
              <a href="{{ post|get_next_post_link }}">Next Project</a>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

{% endblock %}